@import '../assets/color';

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr 60px;
  gap: 20px;
  min-height: 100vh;
  min-width: 100vw;

  .header {
    padding-left: 20px;
    background-color: $header;
    width: 100%;
    &__title {
      color: $white;
      font-size: 32px;
      font-weight: 500;
    }
  }

  .footer {
    background-color: $header;
    width: 100%;
    color: $white;
  }
}

.conteiner {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
