@import '../assets/color';

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;

  .header {
    padding-left: 20px;
    background-color: $header;
    min-width: 0%;
    &__title {
      color: $white;
      font-size: min(8vw, 32px);
      font-weight: 500;
    }
  }

  .main {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    &__title {
      margin: 10px 0;
      font-size: min(7vw, 30px);
      font-weight: 700;
    }
  }

  .footer {
    background-color: $header;
    min-width: 0%;
    color: $white;
  }
}

