<form action="" [formGroup]="form" grMarkAsTouched (ngSubmit)="onSubmit()">
  <button type="button" (click)="hide()">Hide</button>
  <div>
    <input type="checkbox" formControlName="check" />
    <span>Control 1</span>
  </div>
  <div>
    <input type="checkbox" formControlName="check2" />
    <span>Control 2</span>
  </div>
  <ng-container *ngIf="isShow">
    <h1>Control1</h1>
    <gr-form-address
      formControlName="address"
      [dataAddress]="dataAddrress"
      (changeRegion)="changeRegion($event)"
      (changeCity)="changeCity($event)"
      (changeStreet)="changeStreet($event)"
      [isRequiredFlat]="isRequiredFlat"
      [addressHouse]="dataReg"
    ></gr-form-address>
  </ng-container>
  <button type="submit">Submit</button>
</form>
