.table {
  td {
    padding: 10px 40px 10px 0px;
    text-align: left;
    vertical-align:text-bottom;
  }
  th {
    padding: 10px 40px 10px 0px;
    text-align: left;
    vertical-align:text-bottom;
  }
}
