<form [formGroup]="form">
  <div class="sbi-form__block__row">
    <gr-auto-complite
      class="sbi-form__block__col_12"
      formControlName="region"
      [dataAutoComplite]="dataAddress.region"
      (changeValue)="onChangeRegion($event)"
      (onSelectedChange)="onSelectedRegion($event)"
    ></gr-auto-complite>
  </div>

  <div class="sbi-form__block__row">
    <gr-auto-complite
      class="sbi-form__block__col_12"
      formControlName="city"
      [dataAutoComplite]="dataAddress.city"
      (changeValue)="onChangeCity($event)"
      (onSelectedChange)="onSelectedCity($event)"
    ></gr-auto-complite>
  </div>

  <ng-container *ngIf="isRowStyle">
    <div class="sbi-form__block__row">
      <gr-auto-complite
        class="sbi-form__block__col_8"
        formControlName="street"
        [dataAutoComplite]="dataAddress.street"
        (changeValue)="onChangeStreet($event)"
        (onSelectedChange)="onSelectedStreet()"
      ></gr-auto-complite>
      <div class="sbi-form__block__col_4 ms-md-15">
        <mat-checkbox color="primary" class="checkbox" formControlName="withoutStreet">
          {{ labelWithOutStreet }}
        </mat-checkbox>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!isRowStyle">
    <div class="sbi-form__block__row">
      <gr-auto-complite
        class="sbi-form__block__col_12"
        formControlName="street"
        [dataAutoComplite]="dataAddress.street"
        (changeValue)="onChangeStreet($event)"
        (onSelectedChange)="onSelectedStreet()"
      ></gr-auto-complite>
    </div>
    <div class="sbi-form__block__row">
      <mat-checkbox
        class="sbi-form__block__col_4"
        color="primary"
        class="checkbox"
        formControlName="withoutStreet"
      >
        {{ labelWithOutStreet }}
      </mat-checkbox>
    </div>
  </ng-container>

  <div class="sbi-form__block__row">
    <gr-input-text
      class="sbi-form__block__col_8 me-md-15"
      formControlName="house"
      [dataInput]="addressHouse.house"
    ></gr-input-text>
    <gr-input-text
      class="sbi-form__block__col_4 ms-md-15"
      formControlName="flat"
      [dataInput]="addressHouse.flat"
    ></gr-input-text>
  </div>
</form>
